html {
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    text-align: center;
}

.smu {
    position:absolute;
    height:145px;
    left:22%;
}

.prudential {
    height: 160px;
    position: absolute;
    right: 22%;
}

.upload_train {
    position: relative;
    left: 43px;
}

.content {
    top: 180px;
    position: absolute;
    left:35%;
}

.btn {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: #4CAF50; 
    color: white;
    transition: all;
    transition-duration: 0.3s;
  }

.footer {
    position:fixed;
    bottom:5%;
    left:23%;
}
