<html> 
    <head>
        <title>Results</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>  
    <div style="position: absolute;right: 2%;"><a href="javascript:history.back()">Back</a></div>
    <h2>Summary of results</h2>
    Elasped time: {{ time_taken }}
    <br><br>
    <table border="1">
    <tr>
        <th>Model</th>
        <th style="color:red">Accuracy</th>
        <th style="color:blue">Precision</th>
        <th style="color:green">Recall</th>
        <th style="color:orange">F-score</th>
        <th>Upload test file and predict</th>
    </tr>
    <tr>
        <td>XGBoost</td>
        <td>{{ accuracy_xgb }}</td>
        <td>{{ metrics_xgb[0] }}</td>
        <td>{{ metrics_xgb[1] }}</td>
        <td>{{ metrics_xgb[2] }}</td>
        <td>
            <form action="/exportXGB", method="post" enctype = "multipart/form-data">
                <input type = "file" name = "test_file">
                <input type="submit" value="Export">
            </form>
        </td>
    </tr>
    <tr>
        <td>Random Forest</td>
        <td>{{ accuracy_rf }}</td>
        <td>{{ metrics_rf[0] }}</td>
        <td>{{ metrics_rf[1] }}</td>
        <td>{{ metrics_rf[2] }}</td>
        <td>
            <form action="/exportRF", method="post" enctype = "multipart/form-data">
                <input type = "file" name = "test_file">
                <input type="submit" value="Export">
            </form>
        </td>
    </tr>
    <tr>
        <td>Extra Trees</td>
        <td>{{ accuracy_et }}</td>
        <td>{{ metrics_et[0] }}</td>
        <td>{{ metrics_et[1] }}</td>
        <td>{{ metrics_et[2] }}</td>
        <td>
            <form action="/exportET", method="post" enctype = "multipart/form-data">
                <input type = "file" name = "test_file">
                <input type="submit" value="Export">
            </form>
        </td>
    </tr>
  </table>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h3> Performance Measure </h3>
    Highest <b style="color:red">accuracy</b> model: {{ highest_accuracy_model }} 
    <br><br>
    Highest <b style="color:orange">F-score</b> model: {{ highest_fscore_model }}
    <br>

    <h3>Definitions</h3>
    <b style="color:red">Accuracy</b>: Represents the percentage of correctly predicted data points out of all the data points
    <br><br>
    <b style="color:blue">Precision</b>: Represents the percentage of the true positive out of all the positive outputs of the system
    <br><br>
    <b style="color:green">Recall</b>: Represents the percentage of items actually present in the input that were correctly identified as positive by the system
    <br><br>
    <b style="color:orange">F-score</b>: A combined measure that is derived from Precision (P) and Recall (R) (weighted harmonic mean)
</html>