<!DOCTYPE html>
<html>
<head>
 <title>Model Testing</title>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css')}}">
 <div style="position: absolute;right: 2%;"><a href="javascript:history.back()">Back</a></div>
</head>
<body class="body">
    <div>
        <img src="../static/images/prudential.jpg" class="prudential">
        <img src="../static/images/smu.jpg" class="smu">
    </div>
    <div class="content">
        <div><h1>Customer Risk Prediction</h1></div>

        <div>
            <form action="/test", method="post"enctype = "multipart/form-data">
                <br>
                <input type = "file" name = "test_file">
                <br>
                <br>
                <input type="submit" value="Get Results" class="btn">
            </form>
        </div>
        <div>

        </div>
    </div>

</body>
</html>