<!DOCTYPE html>
<html>
<head>
 <title>Customer Risk Prediction Model</title>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css')}}">
</head>
<body class="body">
    <div>
        <img src="../static/images/prudential.jpg" class="prudential">
        <img src="../static/images/smu.jpg" class="smu">
    </div>
 
<div class="content">
    <div>
        <h1>Customer Risk Prediction</h1>
    </div>
    <div>
        <form action="/features_importance", method="post" enctype = "multipart/form-data">
            <input type = "file" name = "train_file" class="upload_train">
            <br><br><br>
            <input type="submit" value="Get Feature Importance" class="btn">
        </form>
    </div>
</div>

    <div class="footer">
        <div>
            Done by: <br>
            IS483 Project Experience <br>
            Team Data Ninjas <br>
            Group Members: Darren Png, Neo Jia Ying, Nor Aisyah, Tay Yu Liang, Wong Wei Ling, Yeo Hui Xin 
        </div>
    </div>
</body>
</html>
